body * {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
}

#wrapper {
	width: 670px; height: 810px;
	margin: 0 auto;
	background-color: red;
	position: relative;
	top: 0;
}

#header {
	width: 670px; height: 100px;
	margin-bottom: 5px;
	background-color: yellow;
	position: fixed;
	top: 0px;
	z-index: 1;
}

#nav {
	width: 100%; height: 48px;
	position: absolute;
	bottom: 0px;
}

#nav ul {
	width: 585px;
	float: right;
	position: relative;
	top: 10px;
}

#nav li {
	padding: 0 15px;
	font-family: times, serif;
	font-weight: bold;
	font-size: 20pt;
	display: inline;
	visibility: visible;
}

#nav a:link, a:visited {
	text-decoration: none;
	color: black;
}

#nav a:active, a:hover {
	color: white;
}

.current {
	color: black;
}

#content {
	width: 71%; height: 600px;
	margin-left: 1%;
	background-color: black;
	position: relative;
	top: 92px;
	z-index: 0;
}

#content * { 
	color: white;
}

#content table {
	width: 100%;
	color: white;
	border-collapse:collapse;
	border: none;
	margin-top: 2px;
}

#content th,td {
	border: solid 2px white;
}

.firstColumn{
	width: 10%;
}

.secondColumn {
	width: 10%;
}

.thirdColumn {
}

#aside {
	width: 27%; height: 600px;
	margin-right: 1%;
	background-color: green;
	position: fixed;
	left: 71.5%;
	top: 100px;
}

#aside p,li {
	font-size: 10pt;
}

#aside * {
	margin: 0 5px;
	}
	
#footer {
	width: 100%; height: 75px;
	background-color: grey;
	position: relative;
	top: 95px;
}